rs.initiate( {
   _id: "{{mongoc_replset}}",
   configsvr: true,
   members: [
   	{% for host in groups['mongoc'] %}
      { _id: {{loop.index0}}, host: "{{hostvars[host]['ansible_eth1']['ipv4']['address']}}:{{mongoc_port}}" } {% if loop.index != groups['mongoc']|length %} , {% endif %}
   	{% endfor %}
   ]
} )